extends ../layout
block extraHeader
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    
    
block content
   div.container
      div.row
         div.col-xs-12.col-sm-6
            h1=restaurant.name
            p Cook :  #{restaurant.cuisine}
            div.row
               div.col-xs-9  
                  iframe(width='100%', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/view?key=AIzaSyCq_whtUcTMBUvZpUj7sxtYuIluemFlubQ\
                     &center=' + restaurant.address.coord[1] + ',' +restaurant.address.coord[0]+ '&zoom=18')
               div.col-xs-3
                  p #{restaurant.borough}
                  p #{restaurant.address.zipcode}
                  p #{restaurant.address.street}  
         div.col-xs-12.col-sm-6
            ul 
               for data in restaurant.grades
                  li Score : #{data.score} Grade : #{data.grade} - (#{data.date})
      
      
      div.row
         div.col-xs-8
            h2 Les Anciens Commentaires
         
      div.row
         div.col-xs-8
            h2 Ton fucking Comm 
            form(method="post", action="")
               div.form-group
                  input(type='text',id='author', name='author', placeholder='Votre nom',class='form-control')
               div.form-group
                  textarea(type='text', name='content', placeholder='texte ici',class='form-control') 
               button(type='submit',class='btn btn-warning btn-lg') Lache ton comm Nigga !!
                  
